# Tuple

In [1]:
tuple1 = ("mercury","venus","earth","mars","jupiter","saturn","uranus","neptune")

In [2]:
tuple1

('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune')

In [3]:
tuple1[2] = "moon"

TypeError: 'tuple' object does not support item assignment

In [4]:
list1 = ['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [5]:
list1

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [6]:
list1[2] = "moon"

In [7]:
list1

['mercury', 'venus', 'moon', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [8]:
t1 = (5,)

In [9]:
t1

(5,)

In [10]:
type(t1)

tuple

In [11]:
t2 =()

In [12]:
t2

()

# how to make a tuple mutable

In [13]:
fruits = ("banana","mango",["apple","grapes"],"watermelon","orange")

In [14]:
fruits[2]

['apple', 'grapes']

In [15]:
fruits[2][0] = 'guava'

In [16]:
fruits

('banana', 'mango', ['guava', 'grapes'], 'watermelon', 'orange')

In [17]:
fruits[3] = "pineapple"

TypeError: 'tuple' object does not support item assignment

In [18]:
list(fruits)

['banana', 'mango', ['guava', 'grapes'], 'watermelon', 'orange']

# unpacking of tuple

In [19]:
for i in fruits:
    print(i)

banana
mango
['guava', 'grapes']
watermelon
orange

In [20]:
fruits.count('orange')

1

In [21]:
fruits.index('watermelon')

3

In [22]:
price = (120,140,200)

In [23]:
fruits_price = fruits + price

In [24]:
fruits_price

('banana', 'mango', ['guava', 'grapes'], 'watermelon', 'orange', 120, 140, 200)

In [27]:
fruits_price.index(['guava', 'grapes'])

2

In [26]:
name = input("enter a name:")
freq = {}
for i in name:
    if i not in freq:
        freq[i] = 1
    else:
        freq[i] +=1
print(freq)

enter a name: shaina

{'s': 1, 'h': 1, 'a': 2, 'i': 1, 'n': 1}