In [1]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [2]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])
print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

In [3]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}

In [4]:
student.clear()

In [5]:
student

{}

In [6]:
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},
           2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}

In [7]:
student[0][1]

KeyError: 0

In [8]:
student[1]["age"]

'27'

In [9]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.pop("age")
print(temp)

KeyError: 'age'

In [10]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}

In [11]:
student.popitem("marks")

TypeError: dict.popitem() takes no arguments (1 given)

In [12]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.get("age")
print(temp)

None

In [13]:
student = {
  "name": "Emma",
  "class": 9,
  "marks": 75
}

In [16]:
student.get(2)

In [17]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [18]:
aList = [5, 10, 15, 25]
print(aList[::-2])

[25, 10]

In [19]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

Y
16

In [20]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

zara

In [21]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

['Hello Dear', 'Hello Bye', 'Good Dear', 'Good Bye']

In [22]:
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 60]

In [23]:
l = [None] * 10
print(len(l))

10

In [24]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

[]

In [25]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

Hello-Python

In [26]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]

In [27]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

[2, 4, 6, 8, 10, 12, 14]

In [28]:
sampleList = [10, 20, 30, 40, 50]
sampleList.pop()
print(sampleList)

sampleList.pop(2)
print(sampleList)

[10, 20, 30, 40]
[10, 20, 40]

In [29]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [30]:
aTuple = (100, 200, 300, 400, 500)
print(aTuple[-2])
print(aTuple[-4:-1])

400
(200, 300, 400)

In [31]:
aTuple = (10, 20, 30, 40, 50, 60, 70, 80)
print(aTuple[2:5], aTuple[:4], aTuple[3:])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

In [32]:
aTuple = (100,)
print(aTuple * 2)

(100, 100)

In [33]:
Choose the correct way to access value 20 from the following tuple

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
 aTuple[1:2][1]
 aTuple[1:2](1)
 aTuple[1:2][1]
 aTuple[1][1]

SyntaxError: invalid syntax (1878300225.py, line 1)

In [34]:
aTuple = (100, 200, 300, 400, 500)
aTuple.pop(2)
print(aTuple)

AttributeError: 'tuple' object has no attribute 'pop'

In [35]:
aTuple = ("Orange")
print(type(aTuple))

<class 'str'>

In [36]:
tuple1 = (1120, 'a')
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
aTuple = (100, 200, 300, 400, 500)
aTuple[1] = 800
print(aTuple)

TypeError: 'tuple' object does not support item assignment

In [38]:
aTuple = "Yellow", 20, "Red"
a, b, c = aTuple
print(a)

Yellow