In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [8]:
for i in range(2,51,2): # for even numbers and for odd numbers we will write range(1,51,2)
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

for i in range(1,10,2):
    print(i)

In [11]:
"""# # # #
   # # # #
   # # # #
   # # # #"""

'# # # #\n   # # # #\n   # # # #\n   # # # #'

In [16]:
for i in range(1,5):
    for i in range(1,5):
        print("#",end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [21]:
# list

In [28]:
students = ['shaina','ana','anshul','aman','lakshi','aman']

In [23]:
students

['shaina', 'ana', 'anshul', 'aman', 'lakshi']

In [30]:
#count() - returns the nubmber of item present in list
students.count("aman")

2

In [27]:
#index() - returns the index of given item in list
students.index("aman")

3

In [34]:
#insert() - it insert the item in list at a given index
students.insert(2, "vanshika")

In [35]:
students

['shaina', 'ana', 'vanshika', 'vanshika', 'anshul', 'aman', 'lakshi', 'aman']

In [36]:
#pop() - it remove the last item of the list
drop = students.pop()

In [37]:
drop

'aman'

In [38]:
students

['shaina', 'ana', 'vanshika', 'vanshika', 'anshul', 'aman', 'lakshi']

In [39]:
#remove() - it removes the given data itme from list
students.remove("vanshika")

In [40]:
students

['shaina', 'ana', 'vanshika', 'anshul', 'aman', 'lakshi']

In [41]:
#sort() - it returns the sorte list of icons in ascending order or descending order
students.sort()

In [43]:
students

['aman', 'ana', 'anshul', 'lakshi', 'shaina', 'vanshika']

In [44]:
students.sort(reverse = True)

In [45]:
students

['vanshika', 'shaina', 'lakshi', 'anshul', 'ana', 'aman']

In [46]:
#append() - it adds the given item at the end of the list
students.append("tanni")

In [47]:
students

['vanshika', 'shaina', 'lakshi', 'anshul', 'ana', 'aman', 'tanni']

In [48]:
surname = ["sharma","malik","gupta","goyal","bansal"]

In [49]:
#extend() - it adds the data item at the end of the list
students.extend(surname)

In [50]:
students

['vanshika',
 'shaina',
 'lakshi',
 'anshul',
 'ana',
 'aman',
 'tanni',
 'sharma',
 'malik',
 'gupta',
 'goyal',
 'bansal']

In [55]:
students.append(['gupta','malik'])

In [56]:
students

['vanshika',
 'shaina',
 'lakshi',
 'anshul',
 'ana',
 'aman',
 'tanni',
 'sharma',
 'malik',
 'gupta',
 'goyal',
 'bansal',
 'gupta',
 'gupta',
 ['gupta', 'malik']]

In [57]:
students_surname = students+surname

In [58]:
students_surname

['vanshika',
 'shaina',
 'lakshi',
 'anshul',
 'ana',
 'aman',
 'tanni',
 'sharma',
 'malik',
 'gupta',
 'goyal',
 'bansal',
 'gupta',
 'gupta',
 ['gupta', 'malik'],
 'sharma',
 'malik',
 'gupta',
 'goyal',
 'bansal']

In [59]:
l1 = [1,2,3]
l2 = [4,5,6]

In [60]:
l3 = l1+l2

In [62]:
l3

[1, 2, 3, 4, 5, 6]

# Slicing of list

In [64]:
students[0:4]

['vanshika', 'shaina', 'lakshi', 'anshul']

In [65]:
students[-1]

['gupta', 'malik']

In [66]:
number = [1,2,3,4,5,6,7,8]

In [67]:
number[-1]

8

In [68]:
number[1:4]

[2, 3, 4]

In [69]:
number[5]

6

In [70]:
number[-7]

2

In [72]:
number[0:5]

[1, 2, 3, 4, 5]

In [73]:
number[::5]

[1, 6]

In [74]:
friends = ['lakshi','anshul','kajal','divya','tanishq','yash']

In [75]:
for i in friends:
    print("Happy Friendship Day to",i)

Happy Friendship Day to lakshi
Happy Friendship Day to anshul
Happy Friendship Day to kajal
Happy Friendship Day to divya
Happy Friendship Day to tanishq
Happy Friendship Day to yash